
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    background-color:rgb(62, 155, 58);
    margin-top: auto;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
     }

 .banner img {
        width: 100%;
    }

 .logo img {
        width: 150px;
    }

 .imagens {
        padding: 30px 10px;
        box-sizing: border-box;   
    }

 .menu li {
        display: flex;
        margin: 0 10px; 
        display: inline-block;      
    }
  
.menu li a{
    font-size: 24px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.banner img {
    width: 100%;
    im


main {
    margin: 120px auto ;
    width: 1000px;
}

.footer {
    background: #000;
    color: #F00;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}